<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.junkheadaictribute.tools.junkbox">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_junkhead_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Home"
            android:label="Junkbox Home"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SplashScreen"
            android:label="Junkbox"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FlacAudioRecorder"
            android:label="Flac Recorder"
            android:parentActivityName=".NavHome"
            android:theme="@style/AppTheme" />
        <activity android:name=".AudioRecordTest" />
        <activity
            android:name=".AudioRecordTest3"
            android:label="Audio Recorder"
            android:parentActivityName=".NavHome"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".BpmLedTool"
            android:label="@string/bpm_activity_title"
            android:parentActivityName=".NavHome"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".NavHome"
            android:label="@string/title_activity_nav_home"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".SetlistManager"
            android:label="Setlist Manager"
            android:theme="@style/AppTheme"
            android:parentActivityName=".NavHome"/>

    </application>

</manifest>